:root {
  --mainBlue: #0044ff;
  --mainYellow: #ff9e09;
  --mainGrey: #666666;
  --mainWhite: #ffffff;
  --mainDark: #222222;
  --mainLight: #add8e6;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--mainYellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainDark);
  font-size: 2rem;
}

.default-background,
.about-background,
.service-background,
.contact-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--mainBlue), rgba(255, 255, 255, 0.5));
  background-position: center;
  background-size: cover;
}

.about-background,
.service-background,
.contact-background {
  min-height: 60vh;
}

.btndark {
  color: var(--mainDark);
  border-color: var(--mainDark);
}

.btndark:hover {
  color: var(--mainWhite);
  background: var(--mainBlue);
  border-color: var(--mainWhite);
}

.footer {
  background: linear-gradient(rgba(255, 255, 255, 0.5), var(--mainBlue));
}

.menu {
  background: var(--mainLight);
}
